RewriteEngine On

# Disable index view
options -Indexes

<FilesMatch "^(.env|.env.local.php)$">
  order allow,deny
  Deny from all
</FilesMatch>

# Rewrite everything to web/ subfolder
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^web/(.*)$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^/web [NC]
RewriteRule ^(.*)$ /web/$1 [L]
