/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-klopvaart-blocks-example-01-basic-esnext-custom {
  color: #8b0000;
  background: rgb(211, 204, 255);
  border: 2px solid rgb(255, 0, 0);
  padding: 20px;
}
