@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 782px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-6: 6px;
}

@source inline("hidden");
@source inline("inline");

html,
body {
  background-color: red !important;
}

.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}
