@tailwind base;
@tailwind components;
@tailwind utilities;

.wp-site-blocks
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @screen md {
    max-width: var(--breakpoint-md);
  }
  @screen lg {
    max-width: var(--breakpoint-lg);
  }
  @screen xl {
    max-width: var(--breakpoint-xl);
  }
  @screen 2xl {
    max-width: var(--breakpoint-2xl);
  }
  @screen 3xl {
    max-width: var(--breakpoint-3xl);
  }
}

div.circle {
  position: absolute;
  mix-blend-mode: exclusion;
  top: 50vh;
  right: 15vh;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #ca0000;
}
