@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 782px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-6: 6px;

  --container-padding: 0.75rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@source inline("hidden,block,h-full");

.wp-site-blocks
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @variant sm {
    @apply max-w-screen-sm;
  }

  @variant md {
    @apply max-w-screen-md;
  }

  @variant lg {
    @apply max-w-screen-lg;
  }

  @variant xl {
    @apply max-w-screen-xl;
  }

  @variant 2xl {
    @apply max-w-screen-2xl;
  }

  @variant 3xl {
    @apply max-w-screen-3xl;
  }
}

div.circle {
  position: absolute;
  visibility: hidden;
  mix-blend-mode: exclusion;
  top: 50vh;
  right: 15vw;
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  background-color: #ca0000;
}
