@use "~delicious-hamburgers/scss/base" with (
  $hamburger-background: var(--wp--preset--color--contrast),
  $hamburger-color: #fff,
  $hamburger-padding: 10px,
  $hamburger-border-radius: 5px
);

@import "~delicious-hamburgers/scss/animations/chop";

.current-menu-item > a {
  font-weight: bold;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background-color 250ms linear;
  pointer-events: none;
}

@media (max-width: 1023px) {
  body.menu-open::before {
    background: rgba(0, 0, 0, 0.3);
  }

  .wp-block-klopvaart-navigation {
     a {
       padding: .5rem 0;
     }

    .current-menu-item > a > span::before {
      content: "→";
      position: inline-block;
      margin-right: 1rem;
    }
  }
}

.admin-bar .wp-block-klopvaart-navigation > div {
  top: var(--wp-admin--admin-bar--height);
}

.wp-block-klopvaart-navigation img {
  filter: invert(1);
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container { 
  border: 0;
  background: none;
  border-radius: .5rem;

  &::before {
    content: "";
    width: 2rem;
    margin-left: 1rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #fff;
    //position: absolute;
    top: -1rem;
    left: 1rem;
  }

  li {
    background: #fff;
    padding: 0 0.75rem;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  li:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  li:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}
