.wp-block-columns[class~="has-restricted-first-column"] > div:first-child {
  max-width: calc(
    var(--wp--style--global--content-size) /
    2 -
    var(--container-padding) *
    3
  );
  margin-left: calc(50% - var(--wp--style--global--content-size) / 2);
  padding-left: 0;
}

.wp-block-columns[class~="has-restricted-first-column"] > div:last-child {
  padding-left: 0;
}
