.wp-block-columns[class~="has-restricted-first-column"] > div:first-child {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @screen md {
    max-width: calc(var(--breakpoint-md) / 2 - var(--container-padding) * 3);
    margin-left: calc(50% - var(--breakpoint-md) / 2);
  }
  @screen lg {
    max-width: calc(var(--breakpoint-lg) / 2 - var(--container-padding) * 3);
    margin-left: calc(50% - var(--breakpoint-lg) / 2);
  }
  @screen xl {
    max-width: calc(var(--breakpoint-xl) / 2 - var(--container-padding) * 3);
    margin-left: calc(50% - var(--breakpoint-xl) / 2);
  }
  @screen 2xl {
    max-width: calc(var(--breakpoint-2xl) / 2 - var(--container-padding) * 3);
    margin-left: calc(50% - var(--breakpoint-2xl) / 2);
  }
}

.wp-block-columns[class~="has-restricted-first-column"] > div:last-child {
  @screen md {
    padding-left: var(--container-padding);
  }
}
