.wp-block-columns[class~="has-restricted-first-column"] > div:first-child {
  max-width: calc(var(--breakpoint-2xl) / 2 - var(--container-padding) * 3);
  margin-left: calc(50% - var(--breakpoint-2xl) / 2);
  padding-left: var(--container-padding);
}

.wp-block-columns[class~="has-restricted-first-column"] > div:last-child {
  padding-left: var(--container-padding);
}
